.footer {
    background: white;
    border-top: 1px solid #e5e7eb;
    padding: 30px 0;
}

.footer-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    color: var(--text-secondary);
}